{% if r['host'] is defined and (r['host'] | ansible.builtin.urlsplit('path')) %}
{{ ' \\' }}
{{ '-e \"RADOSGW_SERVER=' + r['host'] + '\"' -}}
{% endif %}
{{ ' \\' }}
{{ '-e \"VIRTUAL_PORT=' ~ lookup('ansible.builtin.vars',
  'rgw_exporter_port') ~ '\"' -}}
{% if r['admin_entry'] is defined and r['admin_entry']
  not in ['', [], '[]', None] %}
{{ ' \\' }}
{{ '-e \"ADMIN_ENTRY=' + r['admin_entry'] + '\"' -}}
{% endif %}
{% if r['cluster_name'] is defined and r['cluster_name']
  not in ['', [], '[]', None] %}
{{ ' \\' }}
{{ '-e \"CLUSTER_NAME=' + r['cluster_name'] + '\"' -}}
{% endif %}
{% if r['timeout'] is defined and r['timeout']
  not in ['', [], '[]', None] %}
{{ ' \\' }}
{{ '-e \"TIMEOUT=' ~ r['timeout'] ~ '\"' -}}
{% endif %}
{% if r['log_level'] is defined and r['log_level'] in ['DEBUG', 'INFO',
  'WARNING', 'ERROR', 'CRITICAL'] %}
{{ ' \\' }}
{{ '-e \"LOG_LEVEL=' + r['log_level'] + '\"' -}}
{% endif %}
{% if r['access_key'] is defined and r['access_key']
  not in ['', [], '[]', None] %}
{{ ' \\' }}
{{ '-e \"ACCESS_KEY=' + r['access_key'] + '\"' -}}
{% endif %}
{% if r['secret_key'] is defined and r['secret_key']
  not in ['', [], '[]', None] %}
{{ ' \\' }}
{{ '-e \"SECRET_KEY=' + r['secret_key'] + '\"' -}}
{% endif %}
